/* Pagination.css */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-pages {
  background-color: #4c007d;
  color: white; /* Texto blanco */
  border: none;
  border-radius: 50%; /* Botones redondeados */
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-pages:hover {
  background-color: #333; /* Cambio de color al hacer hover */
}
